*, *:after, *:before {box-sizing: inherit;}
* {margin:0;padding:0;border: 0 none; position: relative;}
:root {
	--Nhexa: 6;
	--gap: 1vw;
	--size: calc(calc(66vw / var(--Nhexa)) - var(--gap));
}

#demo3 {
	display: grid;
	grid-template-columns: repeat(var(--Nhexa), 1fr);
	grid-gap: var(--gap);
	padding-top: calc(var(--size) / 1.9);
}
#demo3 article {
	background: cadetblue;
	width: var(--size);
	height: calc(var(--size) / 1.1111111);
	clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	margin-right: calc(var(--size) / 2);
	color: #fff;
	overflow: hidden;
}
#demo3 article:nth-child(2n) {
	margin: calc(var(--size) * -.5) calc(var(--size) * -.25) 0 calc(var(--size) * -.75);
}
#demo3 article::before {
	content: '';
	float: left;
	width: 25%;
	height: 100%;
	clip-path: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
	shape-outside: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
}
#demo3 img {
	width: var(--size);
	height: var(--size);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0% 50%;
	transition: .75s;
	clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	z-index:  10;
}
#demo3 article:hover img {
	transform: translate(-50%, -50%) rotate(-110deg);
}
#demo3 h3 {
	font-size: 14px;
}
#demo3 figure {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	max-width: 50%;
	height: 100%;
	font-size: calc(9 / var(--Nhexa) * 1vw);
	line-height: 1;
	color: #fff;
	transition: .75s .05s;
	text-align: center;
}
#demo3 figure p {
	font-size: 70%;
	line-height: 1.2;
	width: 100%;
}

.demo3Button {
	padding: 15px;
	margin-bottom: 15px;
}
